VITE_SUPABASE_URL=https://ixdheaayfjqprerslpys.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4ZGhlYWF5ZmpxcHJlcnNscHlzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4NTk0OTgsImV4cCI6MjEwNDQzNTQ5OH0.9v21-C1zAypyNNrGe2PcBmDHYB-fHqc6-3gyZDwWRdc
